@CHARSET "windows-31j";

.PassWordChange
{
	
	background-color:#FFFF99;
	border: solid #000000;
	border-width: 1px;
	width:400px;
	height:300px;
	position: absolute; top: 10%; left: 35%;
}

.NewPassword
{

	position: absolute; top: 15%;
	text-align: center;
}

.Button
{
	position: absolute; top: 150%; left: 40%;
}

.PassWordChangeMessage
{
	
	border: solid none;
	border-width: 1px;
	width:500px;
	height:90px;
	position: absolute; top: 65%; left: 40%;
}
